@page
@model WebSwitchFileRenamingWorking.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <form asp-page-handler="submit" method="post" enctype="multipart/form-data">
        <label for="fileInput">Select a file:</label>
        <input type="file" id="fileInput" name="UploadedFile">
        <br/>
        @for (var i = 0; i <= 3; i++)
        {
            <input name="AreChecked" type="checkbox" value="@i" /> @Model.Titles.Pop()
            <br/>
        }
        <br/>
        <label for="LargeFileName">Large file name input: </label>
        <input type="text" id="userInput" name="LargeFileName">
        <br/>
        <br/>
        <label for="UserInputKeepFile">Keep file at location: </label>
        <input type="text" id="userInput" name="UserInputKeepFile">
        <br/>
        <br/>
        <label for="UserInputMoveFileTo">Move file to location: </label>
        <input type="text" id="userInput" name="UserInputMoveFileTo">
        <br/>
        <br/>
        <button type="submit" name="submitButton" asp-page-handler="SecondButton" onclick="saveFileInputValue()">Check File</button>
        <br/>
        <br/>
        <button>Submit</button>
    </form>
</div>
<br/>
<div>@Model.ResultStatus</div>

